<div class="footer-shadow">
<div class="footer">
<a href="https://www.instagram.com/quelque_chose_de_neuf/?hl=en">
    <%=  image_tag("instagram.png", alt: "Quelque chose de neuf") %>
  </a>
  <a href="mailto:association.interferences@gmail.com"><%=  image_tag("email.png", alt: "Quelque chose de neuf") %></a>
    <a href="https://www.facebook.com/quelquechosedeneuf">
    <%=  image_tag("facebook.png", alt: "Quelque chose de neuf") %>
  </a>
</div>
<p class="link-footer"><%= link_to 'Mentions légales', mentions_path %></p>
</div>
