<div class="container-ok">
<%= render "components/header" %>
<body style="background-color:#FF0000;">
<div class="img-back-blanc"><%= link_to(image_tag("cc.png", alt: "QQ29 - all rights reserved."), root_path) %></div>

  <div class="container-ml mentions-legales">
    <h1>MENTION LÉGALES</h1>
    <p>Le présent site http://www.quelque-chose-de-neuf.com est édité par :</p>
    <p>INTERFÉRENCES, Association loi 1901, dont le siège social est situé au 44, rue du Bac, 75007, Paris, inscrite au RCS de Paris sous le n° 844 246 587</p>
    <p>Numéro de SIRET : 844 246 587 00019</p>
    <p>Adresse email : association.interferences@gmail.com</p>
    <p>Hébergeur du site : OVH, 2 rue Kellermann, 59100, Roubaix, France</p>
    <p>Responsable du site : Madame Camille Sauer</p>
    <p>Interférences - Tous droits réservés.</p>
  </div>
<%= render "components/footer" %>
</body>
</div>
